.container {
    margin-top: 50px;
}
.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color:rgb(46, 46, 112) ;
    color: #fff;
    text-align: center;
}
.btn-custom {
    width: 200px; 
    height: 50px; 
    font-size: 20px; 
    margin-left: 150px;
    background-color:rgb(46, 46, 112);
}
.imgCustom {
    margin-left: 150px;
}
body {
    background: linear-gradient(to bottom, rgb(26, 26, 87), rgb(56, 56, 165)) !important; /* Yeni gradient arka plan */
    background-size: cover; 
    background-position-x: left; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.radioButtonCustom {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 50%; 
    width: 30px;
    height: 30px;
}

.navbar-custom {
    background-color: #2e2e70 !important; /* Arka plan rengi */
    color: #ffffff; /* Metin rengi */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link {
    color: #ffffff !important; 
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff; 
    background-color: rgba(255, 255, 255, 0.1); 
}

.dropdown-menu1 {
    background-color: #f8f9fa; 
    border: none; 
}

.dropdown-menu1 .dropdown-item {
    color: #212529; 
}

.dropdown-menu1 .dropdown-item:hover {
    background-color: #e9ecef; 
}
