{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/kullaniciAnaSayfa.css' %}">
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="#">Kullanıcı Ana Sayfa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Sınıflar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Kullanıcı
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="#">Profil</a></li>
                            <li><a class="dropdown-item" href="#">Ayarlar</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="cikis">Çıkış yap</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br> <br>  <br> <br>

    <div class="container"> 
        <h1 class="text-center mb-4">Sınıflar</h1>
        <ul class="list-group  listCustom">
            <li class="list-group-item"><a href="/templates/kullanici/kullaniciDers.html" class="class-link text-decoration-none text-dark " >Matematik</a></li>
           
        </ul>
    
       
        
        
        
    </div>
        
    

    <script>
        function showClassContent(classId) {
            // Hide all class content first
            document.querySelectorAll('.class-content').forEach(content => {
                content.style.display = 'none';
            });

            // Show the selected class content
            document.getElementById(classId + '-content').style.display = 'block';
        }

        function playVideo(videoId) {
            var video = document.getElementById(videoId);
            video.play();
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
