{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/giris.css' %}">
   
</head>



<body style="background-color: #f8f9fa;">
        <div class="form-container justify content center ">
           
            <div class="custom-flex" >
                <img class="imgCustom1" src="{% static 'images/logo-1.png' %}" alt="">
                <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a href="girisKullanici" class="nav-link active btn btn-primary" id="nav-home-tab"  aria-controls="OgrenciGirisContent" aria-selected="true">Kullanıcı Girişi</a>
                    <a href="girisEgitmen" class="nav-link btn btn-primary" id="nav-profile-tab" aria-controls="EgitmenGirisContent" aria-selected="false">Eğitmen Girişi</a>
                    <a href="girisKurum" class="nav-link btn btn-primary" id="nav-contact-tab" aria-controls="KurumGirisContent" aria-selected="false">Kurum Girişi</a>
                    <a href="girisYonetici" class="nav-link btn btn-primary" id="nav-contact-tab"  aria-controls="YoneticiGirisContent" aria-selected="false">Yönetici Girişi</a>
                </nav>
                
                <div class="container mx-auto" style="width: 70%; ">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group text-center">
                                <h3 class="text4Custom">Öğrenci Girişi</h3>
                            </div>
                            <div class="form-group">
                                <label for="E-posta"> E-posta</label>
                                <input type="email" id="E-posta" name="email" class="form-control">
                            </div>
                           
                            <div class="form-group">
                                <label for="password">Şifreniz</label>
                                <input type="password" id="password" name="sifre" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-custom">Giriş</button>
                        </form>
                        {% if hata_mesaji %}
                            <p style="color: red;">{{ hata_mesaji }}</p>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
        </div>
        
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

