{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/giris.css' %}">
   
</head>



<body style="background-color: #f8f9fa;">
    
        <div class="form-container justify content center ">
           
            <div class="custom-flex" >
                <img class="imgCustom1" src="{% static 'images/logo-1.png' %}" alt="">
                <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active btn btn-primary" id="nav-home-tab" data-toggle="tab" data-target="#OgrenciGirisContent" type="button" role="tab" aria-controls="OgrenciGirisContent" aria-selected="true">Kullanıcı Girişi</button>
                    <button class="nav-link btn btn-primary" id="nav-profile-tab" data-toggle="tab" data-target="#EgitmenGirisContent" type="button" role="tab" aria-controls="EgitmenGirisContent" aria-selected="false">Eğitmen Girişi</button>
                    <button class="nav-link btn btn-primary" id="nav-contact-tab" data-toggle="tab" data-target="#KurumGirisContent" type="button" role="tab" aria-controls="KurumGirisContent" aria-selected="false">Kurum Girişi</button>
                    <button class="nav-link btn btn-primary" id="nav-contact-tab" data-toggle="tab" data-target="#YoneticiGirisContent" type="button" role="tab" aria-controls="YoneticiGirisContent" aria-selected="false">Yönetici Girişi</button>
                </nav>
              
                
                <div class="container mx-auto" style="width: 70%; ">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="OgrenciGirisContent" role="tabpanel" aria-labelledby="nav-home-tab">
                        
                        <form>
                            <div class="form-group text-center">
                                <h3 class="text4Custom">Öğrenci Girişi</h3>
                            </div>
                            <div class="form-group">
                                <label for="E-posta"> E-posta</label>
                                <input type="email" id="E-posta" class="form-control">
                            </div>
                           
                            <div class="form-group">
                                <label for="password">Şifreniz</label>
                                <input type="password" id="password" class="form-control">
                            </div>
                            <a href="/templates/kullanici/kullaniciAnaSayfa.html" class="btn btn-primary btn-block btn-custom">Giriş</a>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="EgitmenGirisContent" role="tabpanel" aria-labelledby="nav-profile-tab">
                        
                        <form>
                            <div class="form-group text-center">
                                <h3 class="text4Custom">Eğitmen Girişi</h3>
                            </div>
                            <div class="form-group">
                                <label for="E-posta"> E-posta</label>
                                <input type="email" id="E-posta" class="form-control">
                            </div>
                           
                            <div class="form-group">
                                <label for="password">Şifreniz</label>
                                <input type="password" id="password" class="form-control">
                            </div>
                            <a href="/templates/egitmen/egitmenAnaSayfa.html" class="btn btn-primary btn-block btn-custom">Giriş</a>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="KurumGirisContent" role="tabpanel" aria-labelledby="nav-profile-tab">
                     
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group text-center">
                                <h3 class="text4Custom">Kurum Girişi</h3>
                            </div>
                            <div class="form-group">
                                <label for="E-posta"> E-posta</label>
                                <input type="email" id="E-posta" name="email" class="form-control">
                            </div>
                           
                            <div class="form-group">
                                <label for="password">Şifreniz</label>
                                <input type="password" id="password" name="sifre" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-custom">Giriş</button>
                        </form>
                        <div>
                        {% if hata_mesaji %}
                            <p style="color: red;">{{ hata_mesaji }}</p>
                        {% endif %}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="YoneticiGirisContent" role="tabpanel" aria-labelledby="nav-profile-tab">
                      
                        <form>
                            <div class="form-group text-center">
                                <h3 class="text4Custom">Yönetici Girişi</h3>
                            </div>
                            <div class="form-group">
                                <label for="E-posta"> E-posta</label>
                                <input type="email" id="E-posta" class="form-control">
                            </div>
                           
                            <div class="form-group">
                                <label for="password">Şifreniz</label>
                                <input type="password" id="password" class="form-control">
                            </div>
                            <a href="anasayfa.html" class="btn btn-primary btn-block btn-custom">Giriş</a>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            
            //$('.tab-pane').hide();

            
            $('.nav-link').on('click', function() {
                
                $('.tab-pane').hide();
                
                var targetTab = $(this).attr('data-target');
                $(targetTab).show();
            });
        });
    </script>
    <script>
        document.getElementById('btnDeleteClass').addEventListener('click', function() {
          // Kullanıcıya onaylama iletişim kutusu gösterme
          if (confirm('Sınıfı silmek istediğinize emin misiniz?')) {
            // Eğer kullanıcı 'Tamam' dediyse, sınıfı silme işlemini gerçekleştir
            // Örnek olarak burada konsola bir mesaj yazdırıyoruz
            console.log('Sınıf silindi!');
            // İsteğe bağlı olarak sınıf silme işlemini gerçekleştirebilir veya başka bir işlem yapabilirsiniz
          } else {
            // Eğer kullanıcı 'İptal' dediyse, işlemi iptal et
            console.log('Sınıf silme işlemi iptal edildi.');
            // İsteğe bağlı olarak başka bir işlem yapabilirsiniz
          }
        });
      </script>
</body>
</html>

