{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ana Sayfa</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<style>
     

   
</style>
<body>
    <header>
       
        <div class="logo" >
            <img src="{% static 'images/logo-1.png' %}" alt="Logo">
        </div>
        <h3 class="text1"> YAPAY ZEKA DESTEKLİ E-ÖĞRENME SİSTEMİ</h3>
        <nav>
            <ul>
                <li><a href="giris">Giriş Yap</a></li>
                <li><a href="kayit">Kayıt Ol</a></li>
                <li>
                    <div class="language">
                        <select>
                            <option value="tr">Türkçe</option>
                            <option value="en">English</option>
                            
                        </select>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

  
    <div class="container" >
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-12">
				<div id="carouselExampleSlidesOnly" class="carousel slide" >
					<div class="carousel-inner">
						<div class="carousel-item active">
						   
							<div class="slider-content">
								<div class="card">
								
									<div class="card-body cardCustom">
									  <h2 class="card-title text3">MERHABA</h2>
									 
									  <a href="giris.html" class="btn btn-primary btn-custom2 corusel-text ">Giriş Yap</a>
									</div>
								  </div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
</div>
<hr>  <br> <br> <br>
  <div class="column" >

{%for paket in paketler %}

    <div class="container containerCstm">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title containerCstm-text">{{ paket.paketAdi }}</h5>
                        <p class="card-text containerCstm-text-info">
                            -Maksimum {{paket.paketMaxKullanici}} kullanıcı 
                            <br>
                            -Yıllık {{paket.paketFiyat}} TL
                            <br>
                            -{{paket.paketAciklama}}
                            </p>
                        <a href="kayit" class="btn btn-primary btn-custom2 btn-text">Kayıt ol</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <br> 
    {% endfor %}
              
    
     
    
				</div>

		
				
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</body>
</html>
