{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ana Sayfa</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<body>
    <header>
        <div class="logo" >
            <img src="{% static 'images/logo-1.png' %}" alt="Logo">
        </div>
        <h3 class="text1"> YAPAY ZEKA DESTEKLİ E-ÖĞRENME SİSTEMİ</h3>
        <nav>
            <ul>
                {% if kullanici_adi %}
                <li><a href="{{ url }}">{{ kullanici_adi }}</a></li>
                {% else %}
                <li><a href="{% url 'girisKullanici' %}">Giriş Yap</a></li>
                <li><a href="kayit">Kayıt Ol</a></li>
                {% endif %}
                <li>
                    <div class="language">
                        <select>
                            <option value="tr">Türkçe</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
  
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-12" style="padding:0px;">
                
                <div id="carouselExampleControls" style="height: 800px;" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 " style="height: 800px !important;" src="{% static '/images/slider2.png' %}" alt="Second slide">
                            
                          </div>
						  <div class="carousel-item">
                            <img class="d-block w-100 " style="height: 800px !important;" src="{% static '/images/slider.jpg' %}" alt="Second slide">
                            
                          </div>
                    
                    </div>
                    

                    
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                  </div>
            </div>
        </div>
    </div>
      <br> <br><br>

      <div class="container fluid marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row ">
          <div class="col-lg-4" >
            <img class="rounded-circle" src="{% static '/images/subtitles.png' %}" alt="Generic placeholder image" width="140" height="140">
            <h2 class="text-headline">Altyazı Desteği</h2>
            <p>
				Sisteme yüklenen eğitim içeriklerine otomatik olarak altyazı eklenir, bu sayede öğrenciler dersleri hem görsel hem işitsel olarak takip edebilirler. Altyazı desteği, işitme engelli bireyler için erişilebilirliği artırır ve dil becerilerini geliştirmek isteyenler için faydalıdır. Bu özellik, derslerin daha etkili ve anlaşılır olmasını sağlar.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static '/images/transcription.png' %}" alt="Generic placeholder image" width="140" height="140">
            <h2 class="text-headline">Transkript ve Özet</h2>
            <p>
				Sisteme yüklenen eğitim içeriklerine otomatik olarak altyazı eklenir ve bu altyazılar toplanarak bir video genel transkripti oluşturulur. Bu transkript, farklı seviyelere göre özetlenir ve her seviye için ayrı ayrı sunulur. Bu sayede başlangıç seviyesindeki kullanıcılar temel bilgileri alırken, ileri seviyedeki öğrenciler daha detaylı ve derinlemesine bilgi edinir. </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static '/images/growth.png' %}" alt="Generic placeholder image" width="140" height="140">
            <h2 class="text-headline">Etkili Öğrenme</h2>
            <p>Yapay Zeka Destekli E-Öğrenme Sistemi, kişiselleştirilmiş öğrenme yolları, interaktif ders materyalleri ve kullanıcı dostu arayüzü ile her seviyedeki öğrenen için ideal bir çözüm sunar. Gerek şirketler gerekse eğitim kurumları için biçilmiş kaftan olan bu platform, modern eğitim ihtiyaçlarını karşılayarak geleceğin eğitimine yön vermektedir.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <br><br><br>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading mb-5">Hem İşletmeler hem Eğitim İçin!</h2>
            <p class="lead">
				Yapay Zeka Destekli E-Öğrenme Sistemi, hem işletmeler hem de okullar için mükemmel bir çözümdür. İşletmeler için, bu Yapay Zeka Destekli E-Öğrenme Sistemi, hem işletmelerin hem de okulların eğitim ihtiyaçlarını karşılayacak şekilde tasarlanmıştır. Verimliliği artıran, erişilebilirliği sağlayan ve kişiselleştirilmiş öğrenme deneyimleri sunan bu sistem, modern eğitim ve öğretim yöntemlerine uygun, kapsamlı bir çözüm sunar. İşletmeler ve okullar için biçilmiş kaftan olan bu ürün, geleceğin eğitimine yön vermektedir.
			</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static '/images/company.jpeg' %}"  alt="500x500" style="width: 500px; height: 350px;" >
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading mb-4">Çeşitli Öğrenme Yolları ve Araçları Sunar!</span></h2>
            <p class="lead">Modern eğitimde tek bir öğrenme tarzının her öğrenciye uygun olmadığı bilinmektedir. Bu başlık altında, öğrenme tarzlarına ve ihtiyaçlarına göre çeşitli araçlar sunarak öğrencilerin farklı öğrenme yollarını keşfetmelerine olanak tanıyan bir yaklaşım sunulmaktadır. Bu çeşitlilik, görsel, işitsel, dokunsal ve interaktif öğrenme yöntemlerini içerebilir. Böylece her öğrenci kendi öğrenme tarzına uygun materyallerle etkili bir şekilde öğrenme deneyimi yaşayabilir.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{% static '/images/student.jpeg' %}"  alt="500x500" style="width: 500px; height: 350px;" >
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading mb-4">Pekiştirmeli Öğrenme ve İlerleme</h2>
            <p class="lead">Öğrenmenin sürdürülebilirliği ve ilerlemesi için önemli olan pekiştirmeli öğrenme, bilginin kalıcı hale gelmesini sağlar. Bu yöntemde, öğrenilen konular düzenli olarak tekrar edilir ve farklı şekillerde pekiştirilir. Öğrencilerin ilerlemeleri sürekli olarak izlenir ve kişiselleştirilmiş geri bildirimlerle desteklenir. Bu sayede öğrenciler, güçlü yönlerini geliştirirken zayıf alanlarını da belirleyebilir ve geliştirebilirler. Pekiştirmeli öğrenme, öğrencilerin motivasyonunu artırır ve öğrenme sürecini daha etkili hale getirir.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static '/images/graph.png' %}"  alt="500x500" style="width: 500px; height: 350px;" >
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div>
    <h1 class="section-title">Paketler</h1>
    <div class="container">
        
        <div class="row">
            {% for paket in paketler %}
            <div class="col-md-4 d-flex align-items-stretch" >
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title containerCstm-text">{{ paket.paketAdi }}</h5>
                        <br>
                        <p class="card-text containerCstm-text-info">
                            -Maksimum {{ paket.paketMaxKullanici }} kullanıcı 
                            <br>
                            -Yıllık {{ paket.paketFiyat }} TL
                            <br>
                            -{{ paket.paketAciklama }}
                        </p>
                        <a href="kayit" class="btn btn-primary btn-custom mt-auto">Kayıt ol</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</body>
</html>
