{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Olma Ekranı</title>
    <!-- Bootstrap CSS dosyası -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/kayit.css' %}">

   
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a class="navbar-brand textGCustom" style="font-size: 35px; font-weight: bold;" href="#">Kayıt Olma</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
      
                    <li class="nav-item">
                        <a class="nav-link" href="/">Geri</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    




  <div class="container">
  
    <div class="row">

  <div class="col-md-6 p-5">

  
                <div class="card">
                    <div class="card-header">
                        <h3>Kayıt Ol</h3>
                    </div>
                    <div class="card-body row">
                      
                        <form method="post">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <label for="isletmeAdi">İşletme adınız</label>
                                <input type="text" id="isletmeAdi" class="form-control" name="isletme_adi" placeholder="İşletme adınızı girin" required>
                            </div>
                            <div class="form-group">
                                <label for="webSitesi">Websitesi</label>
                                <input type="url" id="webSitesi" class="form-control" name="web_sitesi" placeholder="Websitesi adresinizi girin" required>
                            </div>
                            <div class="form-group">
                                <label for="email">E-posta</label>
                                <input type="email" id="email" class="form-control" name="eposta" placeholder="E-posta adresinizi girin" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Şifre</label>
                                <input type="password" id="password" class="form-control" name="sifre" placeholder="Şifrenizi girin" required>
                                 <br>
                                <div class="radio-group">
                                    <input type="radio" id="giris-paketi" name="paket" value="1" required>
                                    <label for="giris-paketi">Giriş Paketi</label><br>
                                </div>
                                
                                <div class="radio-group">
                                    <input type="radio" id="yuksek-egitim-paketi" name="paket" value="2" required>
                                    <label for="yuksek-egitim-paketi">Temel Yüksek Öğretim Paketi</label><br>
                                </div>
                                
                                <div class="radio-group">
                                    <input type="radio" id="gelismis-paket" name="paket" value="3" required>
                                    <label for="gelismis-paket">Gelişmiş Yüksek Öğretim Paketi</label><br>
                                </div>
                                <input type="checkbox" required id="myCheckbox" name="sozlesme" value="checkboxValue">
                                 <label for="myCheckbox">Kullanım sözleşmesini ve Gizlilik politikasını kabul ediyorum.</label>

                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-custom">Kayıt Olun</button>
                            <br>
                            <p style="text-align: center;">Hesabınız var mı? <a href="giris">Giriş Yapın</a></p>
                            
                              
                        </div>

                   
                        </div>       
                
            

  </div>
    
      
                <div class="col-md-6 p-5">
                    <div class="card mb-5">
                        <div class="row g-0">
                            <div class="col-md-12 ">
                                <img src="{% static 'images/ai-cloud-concept-with-robot-arm.jpg' %}" class="img-fluid rounded-start" style="width: 100% !important;" alt="...">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title">AMACIMIZ</h5>
                                    <p class="card-text">Öğrencilerin öğrenimini pekiştirmek için video şeklindeki eğitim materyallerini kullanarak altyazı desteği sağlanması, altyazılardan tüm videonun transkriptinin oluşturulması ve konunun eğitimsel anlamda özetlenmesi amaçlanmıştır.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    
    
    
     </div>


  </div>
 


</body>





        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
    