{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/kurumAnaSayfa.css' %}">
    <title>Kurum Ana Sayfa</title>
</head>


<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
          <a class="navbar-brand textGCustom" style="font-size: 35px; font-weight: bold;" href="#">Kurum Ana Sayfa</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active navbar-nav">
                <a class="nav-link navbar-nav" href="#">Sınıflar</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kurum
                </a>
                <ul class="dropdown-menu dropdown-menu1" aria-labelledby="userDropdown">
                  <li><a class="dropdown-item" href="#">Profil</a></li>
                  <li><a class="dropdown-item" href="#">Ayarlar</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="../giris">Çıkış yap</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

  </header>
</div>
    
          
           





</div>
 <div class="container-fluid">

  <div class="row">
   
     <div class="col-md-6 p-5">
      
    <div class="card-container" >
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Paket Bilgileri</h5>
          <p class="card-text">Temel Yükseköğretim Paketi</p>
        </div>
      </div>
   
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Öğretmen sayısı</h5>
          <p class="card-text">X</p>
        </div>
      </div>
  
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Öğrenci sayısı</h5>
          <p class="card-text">X</p>
        </div>
      </div>
    </div>
    </div>
      
        
    <div class="col-md-6 p-5">
              
      <div class="table-container">  
        <div class="card">
          <div class="card-header" style="background-color: #0056b3">
              <h4 class="mb-0" style="color: #fff;;">Öğretmen Ekle</h4>
          </div>
          <div class="card-body">
              <form>
                  <div class="form-group">
                      <label for="firstName">Tam ad</label>
                      <input type="text" class="form-control" id="firstName" placeholder="Tam adınızı giriniz">
                  </div>
                
                  <div class="form-group">
                      <label for="password">Şifre</label>
                      <input type="password" class="form-control" id="password" placeholder="Şifre giriniz">
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary btn-custom" style="margin-left: 200px;">Ekle</button>
              </form>
          </div>
      </div>
      <br> <br>
        <table class="table table-dark table-striped" style="color: #2e2e70;">
          <thead >
            <tr style="background-color: #0056b3;">
              <th scope="col">Öğretmen Adı</th>
              <th scope="col">Öğretmen Soyadı</th>
              <th scope="col">Öğretmen Branşı</th>
              <th scope="col">Öğrenci Sayısı</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>Matematik</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Jane</td>
              <td>Smith</td>
              <td>Fizik</td>
              <td>45</td>
            </tr>
            <td>John</td>
            <td>Doe</td>
            <td>Matematik</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jane</td>
            <td>Smith</td>
            <td>Fizik</td>
            <td>45</td>
          </tr> <td>John</td>
          <td>Doe</td>
          <td>Matematik</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Jane</td>
          <td>Smith</td>
          <td>Fizik</td>
          <td>45</td>
        </tr>
          </tbody>
        </table>
        <br><br><br>

    
       </div>

       </div>

    

     </div>
    </div>
    

 

      

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
