{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sınıf Listesi</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/egitmenAnaSayfa.css' %}"> <!-- BUNU KULLAN CSS ICIN-->


 
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
      <a class="navbar-brand textGCustom" style="font-size: 35px; font-weight: bold;" href="#">Eğitmen Ana Sayfa</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Sınıflar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Eğitmen
            </a>
            <ul class="dropdown-menu dropdown-menu1" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="#">Profil</a></li>
              <li><a class="dropdown-item" href="#">Ayarlar</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="cikis">Çıkış yap</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<div class="container">
  <div class="row">

    <div class="col-md-6">
        <div class="card">
          <div class="card-header" style="background-color: #0056b3">
              <h4 class="mb-0" style="color: #fff;;">Sınıf Ekle</h4>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              
                  <div class="form-group">
                      <label for="firstName">Sınıf Adı</label>
                      <input type="text" class="form-control" name="sinif_ad" id="firstName" placeholder="Sınıf adı giriniz">
                  </div>
                
                  <button type="submit" class="btn btn-primary btn-custom" style="margin-left: 200px;">Ekle</button>
              </form>
          </div>
      </div>
    </div>

    
    <div class="col-md-6 ">

      <div class="table-container">  
        <div class="card">
          <div class="card-header" style="background-color: #0056b3">
              <h4 class="mb-0" style="color: #fff;;">Öğrenci Ekle</h4>
          </div>
          <div class="card-body">
              <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                  <label for="password">Öğrenci ID</label>
                  <input type="number" class="form-control" name="ogr_no" placeholder="Öğrenci numarasını giriniz">
              </div>

                  <div class="form-group">
                      <label for="firstName">Tam ad</label>
                      <input type="text" class="form-control" name="ogr_ad" id="firstName" placeholder="Öğrenci adı giriniz">
                  </div>

                  <div class="form-group">
                    <label for="firstName">Email</label>
                    <input type="text" class="form-control" name="ogr_email" id="email" placeholder="Öğrenci emaili giriniz">
                </div>

                <div class="form-group">
                  <label for="firstName">Şifre</label>
                  <input type="password" class="form-control" name="ogr_sifre" id="firstName" placeholder="Öğrenci Şifresini giriniz">
              </div>

                  <br>
                  <button type="submit" class="btn btn-primary btn-custom" style="margin-left: 200px;">Ekle</button>
              </form>
          </div>
      </div>
    </div>


  </div>

  </div>

  <div class="row mt-5">
    
    <div class="col-md-6">     
   
      <table class="table table-striped">
        <thead>
          <tr style="background-color: #0056b3;">
            <th scope="col">Sınıf Adı</th>
            <th scope="col">Öğrenci Sayısı</th>
            <th scope="col">İşlemler</th>
          </tr>
        </thead>
        <tbody>
          {% for sinif in siniflar %}
          <tr>
            <td> <a href='egitmenSinifIcerigi/{{sinif.sinifID}}'>{{ sinif.sinifAdi }}</a> </td>
            <td>{{ sinif.ogrenciSayisi }}</td>
            <td>
              <div class="btn-group">
                <a href="{% url 'egitmenSinifDuzenle' sinif.sinifID %}" class="btn btn-primary">Düzenle</a>
                <a href="{% url 'egitmen_SinifSil' sinif.sinifID %}" class="btn btn-danger">Sil</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    

    </div>
    <div class="col-md-6">

      <table class="table table-striped">
        <thead>
          <tr style="background-color: #0056b3;">
            <th scope="col">Öğrenci Numarası</th>
            <th scope="col">Öğrenci Adı</th>
            <th scope="col">Öğrenci E-Maili</th>
            <th scope="col">Öğrenci Şifresi</th>
            <th scope="col">İşlemler</th>
          </tr>
        </thead>
        <tbody>
          {% for ogrenci in ogrenciler %}
          <tr>
            <td>{{ ogrenci.ogrenciID }}</td>
            <td>{{ ogrenci.ogrenciTamAd }}</td>
            <td>{{ ogrenci.ogrenciEposta }}</td>
            <td>{{ ogrenci.ogrenciSifre }}</td>
            <td>
              <div class="btn-group">
                <a href="{% url 'egitmenOgrenciDuzenle' ogrenci.ogrenciID %}" class="btn btn-primary">Düzenle</a>
                <a href="{% url 'egitmen_OgrenciSil' ogrenci.ogrenciID %}" class="btn btn-danger">Sil</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>



   
    </div>







	
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
 
  <script>
    $(document).ready(function() {
     
      $('.btn-select').click(function() {
        $('.notification').text('Sınıf seçildi.').fadeIn().delay(2000).fadeOut();
      });

     
      $('.btn-delete').click(function() {
        if (confirm('Silmek istediğinizden emin misiniz?')) {
          $('.notification').text('Sınıf silindi.').fadeIn().delay(2000).fadeOut();
         
        }
      });
    });
  </script>
  <script>
    document.querySelectorAll("#yonlendirmeButonu1").forEach(function(button) {
    button.addEventListener("click", function() {
        window.location.href = "egitmenOgrenciDuzenle.html"; // veya istediğiniz sayfanın URL'si
    });
});
  </script>

  <script>
    document.querySelectorAll("#yonlendirmeButonu2").forEach(function(button) {
    button.addEventListener("click", function() {
        window.location.href = "egitmenSinifDuzenle.html"; // veya istediğiniz sayfanın URL'si
    });
});

  </script>


<script>
  $(document).ready(function() {
    $('.list-item span').click(function(event) {
      event.stopPropagation(); // Diğer etkileşimleri engelle
      
      var dropdownMenu = $(this).siblings('.dropdown-menu');
      
      if (dropdownMenu.hasClass('show')) {
        dropdownMenu.removeClass('show');
      } else {
        $('.dropdown-menu').removeClass('show'); // Tüm açık dropdown-menuleri kapat
        dropdownMenu.addClass('show');
      }
    });

    // Dropdown menü dışında bir yere tıklandığında açık menüyü kapat
    $(document).click(function() {
      $('.dropdown-menu').removeClass('show');
    });
  });
</script>





 
  <div class="notification"></div>

</body>
</html>
