{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ders Video Yükle</title>
  
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/egitmenDosyaEkle.css' %}">
  
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Ders Video Yükle</h1>
    <form>
      <div class="form-group">
        <label for="videoFile">Video Dosyası</label>
        <input type="file" class="form-control-file" id="videoFile" accept="video/*" required>
      </div>
      <div class="form-group">
        <label for="videoDescription">Açıklama</label>
        <textarea class="form-control" id="videoDescription" rows="4" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-custom">Yükle</button>
    </form>
  </div>

 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
